body {
  background: #eee;
}

svg {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  max-height:80%;
}

.filler {
  background: #20B7AF;
  position: absolute;
  bottom: 50%;
  top: 0;
  left: 0;
  right: 0;;
}

 path { transition: fill 1s ease; }

h1 {
  color : white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width : 100%
}

.red_alert {
  animation-name: example;
  animation-duration: 0.5s;
  animation-iteration-count:infinite;
}


@keyframes example {
  0%   {background: red;}
  50%  {background: darkred;}
  100%   {background: red;}
}

footer {
  position: fixed;
     left: 0;
     bottom: 10px;
     width: 100%;
  text-align: center;
  padding-top : 5px;
  padding-left: 16px;
}

footer button {
  width : 100%;
  margin-top: 5px;

}

.slider {
  width: 50%;
  margin-left: 25%;
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  color : white;
  font-size: 64px;
}
